@import url('https://fonts.googleapis.com/css2?family=Ruwudu:wght@400;600;700&display=swap');

/* font-family: 'Ruwudu', serif;
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ruwudu', serif;
  /* overflow: hidden; */
  height: 100%;
  width: 100%;
  background-color: #32323200;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9b4 0%, #b5fffd94 100%);
}

header {
  background-color: cornsilk;
  margin: 0;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 150px; */
  text-align: center;
  border-bottom: 0.25rem solid tomato;
}

h1 {
  font-size: 3rem;
}

h1 span {
  color: tomato;
  text-decoration: underline;
}

aside {
  display: none;
}

#game-configuration {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#game-configuration ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  width: 100vh;
}

#game-configuration ul li {
  /* width: 50%; */
  background-color: cornsilk;
  margin: 1rem;
  padding: 1rem 0;
  width: 300px;
  border-radius: 1rem;
}

#active-game {
  text-align: center;
  margin-top: 1rem;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  width: 100%;
  grid-gap: 0.5rem 0.5rem;
  column-gap: 2rem;
  justify-content: center;
  text-align: center;
  position: relative;
}

.square {
  width: 120px;
  height: 120px;
  background-color: cornsilk;
  /* margin-right: 1rem; */
  font-size: 6rem;
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.square:hover {
  background-color: tomato;
  color: cornsilk;
}

.winner-squares {
  animation: changeBackColor 1s ease infinite;
  animation-play-state: running;
}

.winner-h3 {
  animation: changeColor 1s ease infinite;
  animation-play-state: running;
}
#active-game h3 {
  padding-bottom: 1rem;
  display: inline-block;
}

@keyframes changeBackColor {
  to {
    background-color: cornsilk;
  }
  from {
    background-color: tomato;
  }
}

@keyframes changeColor {
  to {
    color: cornsilk;
  }
  from {
    color: tomato;
  }
}

.player1 p,
.player2 p {
  font-weight: bold;
  font-size: 2rem;
  color: crimson;
}

.reset {
  font-size: 1.2rem;
}
